<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>All categories</title>
</head>
<body>
	<h1>Categories</h1>
	
	<table class="table table-striped">
		<tr>
			<th>Id</th>
			<th>Name</th>
		</tr>
		<tr th:each="category : ${categories}">
			<td th:text="${category.categoryid}">id</td>
			<td th:text="${category.name}">title</td>
		</tr>
	</table>

	<a class="btn btn-success btn-sm" href="/addcategory"><span
		class="glyphicon glyphicon-plus"></span> New category</a>
	<a class="btn btn-info btn-sm" href="/booklist"><span
		class="glyphicon glyphicon-list"></span> Booklist</a>

</body>